section#about{
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 100px;
}section#about .wrap{
   
   display: flex;
}
section#about .wrap h3{
   transition: 1s;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
}
section#about .wrap .infor {
   width: 50%;
   padding-left: 85px;
}
section#about .wrap .infor ul{
   
}
section#about .wrap .infor ul li{
   
   line-height: 4;
   white-space: pre-line;
   letter-spacing: 2px;
}
section#about .educate{
  
   width: 50%;
   padding-right: 85px;
}
section#about small{
   font-size: 20px;
   color: #888282;
   font-weight: 600;
}
section#about .educate ul{

   margin-top: 15px;
}
section#about .educate ul li{
   line-height: 5;
   border-top: 1px solid #ccc;
}
section#about .educate ul li:nth-child(3){
   
   border-bottom: 1px solid #ccc;
}
section#about .educate ul li span{
   
   margin: 0 31px;
}
section#about article div ul.list li:nth-child(1)::before{
   content: "";
   display: block;
   background-image: url(../img/html_1.png);
   width: 48px;
   height: 48px;
   background-size: cover;
   background-position: left center;
}
section#about article div ul.list li:nth-child(2)::before{
    content: "";
   display: block;
   background-image: url(../img/css_1.png);
   width: 48px;
   height: 48px;
   background-size: cover;
}
section#about article div ul.list li:nth-child(3)::before{
   content: "";
   display: block;
   background-image: url(../img/java.png);
   width: 48px;
   height: 48px;
   background-size: cover;
}
section#about article div ul.list li:nth-child(4)::before{
   content: "";
   display: block;
   background-image: url(../img/github.png);
   width: 48px;
   height: 48px;
   background-size: cover;
}
section#about article div ul.list li:nth-child(5)::before{
   content: "";
   display: block;
   background-image: url(../img/photoshop.png);
   width: 48px;
   height: 48px;
   background-size: cover;
}
section#about article div ul.list li:nth-child(6)::before{
   content: "";
   display: block;
   background-image: url(../img/adobeillust.png);
   width: 48px;
   height: 48px;
   background-size: cover;
}
.slidingM{
   transform: translateX(-10px);
   opacity: 1;
}