aside{
  
}
aside .scroll{
  
}
aside .scroll span{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
aside .scroll span a{
  display: block;
  border: 2px solid #2b2726;
  width: 26px;
  height: 36px;
  border-radius: 23px;
  background-color: #fff;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes updown{
  0%{
    transform: translateY(0);
  }
  100%{
     transform: translateY(-50%);
  }
}
aside .scroll span a::before{
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 70%;
  background-color: black;
  border: 1px solid black;
  position: absolute;
  right: 10px;
  top: 10px;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
aside .scroll span p{
  
}