section#contact {

  padding: 100px 0;
}
section#contact .wrap {

  display: flex;
}
section#contact h3{
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}
section#contact .wrap .contact-info{
  margin-left: 50px;
}
section#contact .wrap .contact-info h5{
  
  font-size: 20px;
  margin-top: 25px;
}
section#contact .wrap .contact-info img {
  width: 450px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section#contact .wrap .contact-info ul{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
section#contact .wrap .contact-info ul li{
  
}
section#contact .wrap .contact-info ul li a:hover{
  color: #ffc683;
}
section#contact .wrap .contact-form{
  
  background-color: #cfd4fb;
  border-radius: 20px;
  width: 30%;
  margin-left: 215px;
}
section#contact .wrap .contact-form form{
  
}
.form-group{
  display: block;
  margin: 40px 20px;
}
label{
  border-radius: 10px;
  margin: 0px 20px;
}
textarea{
  width: 78%;
  padding: 15px;
  border-radius: 10px;
  margin: 0 20px;
}
button{
  padding: 10px 20px;
  background-color: #f2b3d3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 45px 150px;
}
input{
  width: 78%;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 20px;
}