section#contact {

  padding: 100px 0;
  position: relative;
}
section#contact .wrap {

  display: flex;
  padding: 50px 0px;
  justify-content: space-around;
  background: linear-gradient(180deg,#fffbf8 0%,rgb(242, 238, 230) 100%);
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  backdrop-filter: blur(48px);
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 80px;
}
section#contact h3{
  white-space: nowrap;
  animation: runText linear infinite 50s;
  position: absolute;
  top: 0;
  margin-top: 55px;
}
@keyframes runText {
    0% { left: 100%; } /* Di chuyển chữ về bên phải màn hình */
    100% { left: -100%; } /* Di chuyển chữ từ bên phải về bên trái */
}
section#contact .wrap .contact-info{
  width: 50%;
 
}
section#contact .wrap .contact-info .connect{
  
}
section#contact .wrap .contact-info .connect h5{
  
  font-size: 20px;
  margin-top: 25px;
}
section#contact .wrap .contact-info .connect a{
  
}
section#contact .wrap .contact-info .follow{
  
}
section#contact .wrap .contact-info .follow h5{
  
}
section#contact .wrap .contact-info .follow ul{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
section#contact .wrap .contact-info ul li{
  
}
section#contact .wrap .contact-info ul li a{
  
  font-size: 0;
}
section#contact .wrap .contact-info ul li:nth-child(1) a{
  background-image: url(../img/facebook.png);
  width: 50px;
  height: 50px;
  display: block;
}
section#contact .wrap .contact-info ul li:nth-child(2) a{
  background-image: url(../img/insta.png);
  width: 50px;
  height: 50px;
  display: block;
}
section#contact .wrap .contact-info ul li:nth-child(3) a{
  background-image: url(../img/kakao.png);
  width: 50px;
  height: 50px;
  display: block
}
section#contact .wrap .contact-info ul li:nth-child(4) a{
  background-image: url(../img/git.png);
  width: 50px;
  height: 50px;
  display: block
}
section#contact .wrap .contact-info ul li a:hover{
  color: #ffc683;
}
section#contact .wrap .contact-form{
  
  border-radius: 20px;
}
section#contact .wrap .contact-form form{
  
}
.form-group{
  display: block;
  margin: 40px 20px;
}
label{
  border-radius: 10px;
  margin: 0px 20px;
}
textarea{
  width: 78%;
  padding: 15px;
  border-radius: 10px;
  margin: 0 20px;
}
button{
  padding: 10px 20px;
  background-color: #FED2D6;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 45px 150px;
}
input{
  width: 78%;
  padding: 10px;
  border-radius: 10px;
  margin: 8px 20px;
}