#portfolio{
  
}
#portfolio .wrap{
  
  display: flex;
}
#portfolio .wrap h3{
  
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}
#portfolio .wrap ul{
  
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-evenly;
}
#portfolio .wrap ul li{
  
  width: 450px;
  height: 340px;
  border-radius: 25px;
  box-shadow: 8px 8px 0px #a4a09c;
  position: relative;
  cursor: pointer;
  /*! background-color: #fff9ed; */
}
#portfolio .wrap ul li:nth-child(7){
  
  margin: 0 auto;
}
#portfolio .wrap ul li h4{
  
  text-align: center;
  margin-bottom: 25px;
  color: #e7aaa8;
}
#portfolio .wrap ul li figure{
  
}
#portfolio .wrap ul li figure img{
  
  max-width: 100%;
  border-radius: 30px;
}
#portfolio .wrap ul li figure figcaption{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: preserve-breaks;
  opacity: 0;
  left: 0;
  flex-direction: column;
  color: #fff;
  transform-origin: left top; /* Đặt điểm trung tâm biến đổi */
  transform: scaleX(0); /* Ẩn phần tử ban đầu */
  transition: transform 0.5s ease; /* Hiệu ứng transition cho scaleX */
  line-height: 2;
  font-size: 20px;
}
#portfolio .wrap ul li figure figcaption a{ 
  display: block;
  margin-top: 25px;
  color: #fff;
  transition: width 0.5s ease;
}
#portfolio .wrap ul li figure figcaption a:hover{
  text-decoration: underline;
}
#portfolio .wrap ul li figure figcaption.scaleX{
  opacity: 1;
  background-color: #d2dfe5;
  border-radius: 20px;
  transform: scaleX(1) !important;
}
