@media screen and (max-width:768px){
  /*header*/
  header .wrap{
  width: 100%;
  }
  header h1 a{
  font-size: calc(15px * 0.8);
  }
  header ul{
  right: 5px;
  top: 50px;
  }
  header ul li a{
  font-size: calc(18px * 0.8);
  padding: 0;
  }
  header div.wrap > a{
  position: fixed;
  right: 15px;
  }
}
/*title*/
#title{
  
  padding: 0 15px;
}
#title .wrap{
  
}