@media screen and (max-width:768px){
  header{
  padding: 15px 0;
  height: 80px;
}
  header .wrap{
    
  width: 100%;
  margin: 0 auto;
  /*! padding: 0 15px; */
  justify-content: space-around;
  border-radius: 25px;
  }
  header h1 a{
    
  font-size: 10px;
  white-space: nowrap;
  }
  header h1 a::before{
  display: none;
  }
  header ul li a{
  font-size: calc(22px * 0.5);
  padding: 15px 20px;
  }
  #title{
  font-size: calc(165px * 0.4);
  line-height: 1.2;
  margin: 50px 15px;
  }
  #title div.wrap{   
  width: 100%;
  }
  #title .wrap h2{
  font-size: 57px;
  line-height: 1.5;
  }
  #title .wrap h2 strong span:first-child{ 
  margin-right: 115px;
  }
  .typed-text-output{
  font-size: calc(50px * 0.5);
  }
  #title .wrap .left p{ 
  font-size: calc(20px * 0.7);
  }
  #title .wrap .right{ 
  left: 120px;
  bottom: 145px;
  }
  #title .wrap .right img{
    
  width: 150px;
  height: 150px;
  }
  #title .wrap .image{
    
  width: 28px;
  bottom: 112px;
  right: 25px;
  }
  section#about{
  padding: 40px 15px;
  }
  section#about .wrap{
  width: 100%;
}
  .h3{
  font-size: calc(150px * 0.5);
  }
  section#about .wrap .infor{
    
  padding: 30px 22px;
  }
}