@media screen and (max-width:768px){
  body .circle-2{overflow: hidden;height: 100vw;z-index: 1;}
  
  /*header*/
 header .wrap{
  width: 100%;
  justify-content: flex-start;
  }
  header h1{
    
  margin-left: 50px;
  }
  header h1 a{
    font-size: calc(15px*0.8);
    }
  header ul{
    right: 170px;
    top: 100px;
    position: absolute;
    }
  header ul li a{
    font-size: calc(18px * 0.8);
    line-height: 4;
    }
  header div.wrap > a{
  display: inherit;
  transform: translateX(100px) translateY(6px);
  z-index: 1;
    }
  header .wrap .menu{ 
  background-color: #f4d9cb;
  height: 100%;
  top: 0;
  display: block !important;
  display: none;
  right: -80%;
  transition: 1s ease-in-out;
  z-index: 1;
  }
  .showMenu{
  right: 0 !important;
  width: 80% !important;
  transition: 1s;
  }
  .close{
  display: block;
  }
  header div.wrap > a .close span:nth-child(1){
  transform:translateY(10px) rotate(45deg);
  }
  header div.wrap > a .close span:nth-child(2){
  opacity: 0;
  }
  header div.wrap > a .close span:nth-child(3){
  transform:translateY(-10px) rotate(-45deg);
  }
  header div.wrap > a span:nth-child(1){
  transition: 0.5s;
  }
  header div.wrap > a span:nth-child(2){
    transition: 0.01s;
  }
  header div.wrap > a span:nth-child(3){
    transition: 0.5s;
  }
  header div.wrap > a.close span:nth-child(1){
    transform:translateY(10px) rotate(45deg);
  }
  header div.wrap > a.close span:nth-child(2){
     opacity: 0; 
  }
  header div.wrap > a.close span:nth-child(3){
    transform:translateY(-10px) rotate(-45deg);
  }
/*title*/
   #title{  
  padding: 0 15px;
  margin: 150px 0;
   }
  #title .wrap{
    width: 100%;
  }
  #title .left h2{
    font-size: calc(135px*0.3);
  }
  .typed-text-output{
    font-size: calc(30px*0.5);
  }
  #title .wrap .left p{
    font-size: calc(20px*0.5);
    margin-top: 20px;
    white-space: inherit;
  }
  #title .wrap .right img{
    width: 180px;
    height: 250px;
  }
/*about*/
 section#about{
  padding: 0 15px;
  }
  section#about .wrap{
  width: 100%;
  }
  section#about .wrap h3{
  font-size: calc(200px*0.4);
  text-align: center;
  }  
  section#about .wrap .infor{
  padding-left: 0;
} 
  section#about small{
    
  font-size: calc(22px*0.6);
  }
  section#about .wrap .infor ul li{
    
  line-height: 2.5;
  font-size: 15px;
  }
  section#about .educate{
  padding-right: 0;
  }
  section#about .educate ul li{
    
  line-height: 2.5;
  font-size: 15px;
  }
  section#about .educate ul li span{
    
  margin: 0 10px;
  }
  /*skill*/
  #skill{
  padding: 0 15px;  
  }
  #skill .wrap h3{
    
  font-size: calc(200px*0.4);
  }
  .skill-show{
  padding: 20px 50px;
  }
  /*portfolio*/
  #portfolio{ 
  padding: 0 15px;
  }
  #portfolio .wrap{
  width: 100%;
  }
  #portfolio h3{
  font-size: calc(200px*0.4);
  text-align: center;
  }
  #portfolio .wrap ul.portfolio{
    
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7,1fr);
  padding: 0px 15px;
  }
  #portfolio .wrap ul li{
    
  padding: 10px 5px;
  width: 100px;
  height: 50px;
  z-index: 1;
  }
  #portfolio .wrap ul li h4{
   
  font-size: 18px;
  text-align: center;
  }
  #portfolio .wrap ul li h5{
  display: none;
  }
  #portfolio .wrap ul li h6{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  }
  #portfolio .wrap ul li a{
    
  padding: 0px 10px;
  margin-top: 5px;
  }
  #portfolio .wrap ul li .portfolio-image{
   
  background-size: 50%;
  background-position-x: 50px;
  width: 200px;
  height: 100px;
  }
  .portfolio li.clicked{
   height: 150px !important;
  }
  #portfolio .wrap ul li:nth-child(2n)::before{ 
  height: 300px;
  }
  /*contact*/
  section#contact{
  padding: 100px 15px;
  }
  section#contact .wrap{
  width: 100%;
  }
  section#contact h3{
  font-size: calc(200px*0.4);
  }
  section#contact .wrap .contact-info{margin-left: 20px;margin-top: 20px;}
  
  section#contact .wrap .contact-info img{
  width: 200px;
  }
  section#contact .wrap .contact-form{  
  display: none;
}
  /*footer*/
  footer .wrap{ 
  width: 100%;
}
  aside .scroll span a{
    
  z-index: 1;
  }
  
  
}